name: Recent Activity Metrics
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Generate activity metrics
        uses: lowlighter/metrics@latest
        with:
          # --- Configuración de Autenticación ---
          token: ${{ secrets.METRICS_TOKEN }} # Se recomienda usar un PAT (Personal Access Token)

          # --- Configuración de Destino ---
          user: ${{ github.repository_owner }}
          filename: github-metrics-activity.svg # Nombre del archivo
          base: "" # No genera las estadísticas base (repo, estrellas), solo el plugin

          # --- Plugin: Activity ---
          plugin_activity: yes
          plugin_activity_limit: 5
          plugin_activity_days: 14
          plugin_activity_filter: all
          plugin_activity_visibility: public
          plugin_activity_timestamps: yes

          # --- Ajustes de Salida ---
          config_display: inline
          committer_ghost: yes # Realiza el commit como github-actions[bot] automáticamente