name: Recent activity

on:
  schedule:
    - cron: "0 0 * * *" # Runs once daily at midnight
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: lowlighter/metrics@latest
        with:
            filename: profile/metrics.plugin.activity.svg
            token: ${{ secrets.GITHUB_TOKEN }}
            base: ""
            plugin_activity: yes
            plugin_activity_limit: 5
            plugin_activity_days: 0
            plugin_activity_filter: issue, pr, release, fork, review, ref/create
